@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  font-size: 16px;
  color: hsl(0, 0%, 15%);
  text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.1);
}

body {
  display: grid;
  justify-content: center;
  background-color: hsl(0, 0%, 10%);
  padding: 10px;
}

#app-container {
  width: 350px;
  padding: 20px 15px;
  display: grid;
  row-gap: 10px;
  border: 1px solid hsla(0, 0%, 100%, 0.5);
  border-radius: 10px;
  background: linear-gradient(hsl(200, 100%, 60%) 0%, hsl(200, 100%, 80%) 20%, hsl(200, 100%, 92%) 100%);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;
  transition: 0.5s;
}

#interaction {
  display: grid;
  row-gap: 10px;
}

#interaction-input {
  padding: 10px;
  border: 1px solid hsl(200, 100%, 60%);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
  font-family: inherit;
}

#interaction-button {
  padding: 10px;
  /* border: 1px solid hsl(200, 100%, 60%); */
  border: 1px solid hsl(200, 100%, 45%);
  border-radius: 10px;
  background:hsl(200, 100%, 55%);
  /* background:hsl(200, 100%, 70%); */
  cursor: pointer;
  font-family: inherit;
  font-weight: 600;
  font-size: 0.9rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
}

#interaction-button:hover {
  /* border: 1px solid hsl(200, 100%, 45%); */
  background:hsl(200, 100%, 90%);
}

#interaction-error-form {
}

#interaction-error-form-title {
  font-size: 0.9rem;
  font-weight: 600;
  color: hsl(0, 100%, 40%);
}

#interaction-error-form-message {
  font-size: 0.9rem;
  font-weight: 400;
  color: hsl(0, 100%, 40%);
}

#interaction-error-container {
  display: grid;
  row-gap: 10px;
  padding: 10px;
  border: 1px solid hsla(0, 0%, 100%, 0.4);
  border-radius: 10px;
}

#interaction-error-request {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "interaction-error-to-user interaction-error-to-user"
    "interaction-error-http-response interaction-error-api";
  row-gap: 5px;
}

#interaction-error-to-user {
  grid-area: interaction-error-to-user;
}

#interaction-error-to-user-title {
  font-size: 0.9rem;
  font-weight: 600;
  color: hsl(0, 100%, 40%);
}

#interaction-error-to-user-message {
  font-size: 0.9rem;
  color: hsl(0, 100%, 40%);
}

#interaction-error-http-response {
  grid-area: interaction-error-http-response;
}

#interaction-error-http-response-title {
  color: hsl(250, 100%, 20%);
  font-size: 0.75rem;
  font-weight: 600;
}

#interaction-error-http-response-code {
  color: hsl(250, 100%, 20%);
  font-size: 0.75rem;
}

#interaction-error-http-response-text {
  color: hsl(250, 100%, 20%);
  font-size: 0.75rem;
}

#interaction-error-api {
  grid-area: interaction-error-api;
}

#interaction-error-api-title {
  color: hsl(250, 100%, 20%);
  font-size: 0.75rem;
  font-weight: 600;
}

#interaction-error-api-code {
  color: hsl(250, 100%, 20%);
  font-size: 0.75rem;
}

#interaction-error-api-message {
  color: hsl(250, 100%, 20%);
  font-size: 0.75rem;
}

#loading-container {
  display: grid;
  justify-items: center;
  background: hsl(200, 100%, 90%);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;
  border-radius: 10px;
}

#loading-text {

}

#loading-image-container {
  
}

#loading-image {
  display: block;
}

#weather-display {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "today-container today-container"
    "yesterday-container tomorrow-container";
  background: hsl(200, 100%, 90%);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;
  border-radius: 10px;
}

#today-container {
  grid-area: today-container;
  padding: 20px;
  display: grid;
  row-gap: 10px;
  column-gap: 10px;
}

#today-title-date-time {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
   "today-title today-date"
   "today-title today-time";
}

#today-title {
  grid-area: today-title;
  font-size: 1.3rem;
  font-weight: 600;
}

#today-date {
  grid-area: today-date;
  font-size: 0.9rem;
  font-weight: 500;
  text-align: end;
}

#today-time {
  grid-area: today-time;
  font-size: 0.9rem;
  font-weight: 500;
  text-align: end;
}

#today-location {
  display: grid;
  justify-items: center;
  align-items: center;
}

#today-location-name {
  font-size: 1.8rem;
  font-weight: 600;
}

#today-location-country {
  font-size: 0.8rem;
  font-weight: 500;
}

#today-image-container {
  background: radial-gradient(circle, hsl(0, 0%, 100%) 0%, hsl(200, 100%, 90%) 60%);
  display: flex;
  justify-content: center;
  height: 180px;
}

#today-image {
  display: block;
  filter: drop-shadow(1px 1px 3px hsla(0,0%,0%,0.75));
}

#today-temperature-condition {
  padding: 5px 0;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}

#today-current-temperature-key,
#today-condition-key {
 font-size: 0.8rem;
}

#today-current-temperature-value,
#today-condition-value {
  text-align: center;
}

#today-current-temperature-value {
  font-size: 2rem;
  font-weight: 600;
}

#today-condition-value {
  font-size: 1.4rem;
  font-weight: 600;
}

#today-average-min-max {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
    "today-average-key today-minimum-key today-maximum-key"
    "today-average-value today-minimum-value today-maximum-value";
}

#today-average-key {
  grid-area: today-average-key;
}
#today-average-value {
  grid-area: today-average-value;
}
#today-minimum-key {
  grid-area: today-minimum-key;
}
#today-minimum-value {
  grid-area: today-minimum-value;
}
#today-maximum-key {
  grid-area: today-maximum-key;
}
#today-maximum-value {
  grid-area: today-maximum-value;
}

#today-average-key, 
#today-minimum-key,
#today-maximum-key {
  font-size: 0.8rem;
  text-align: center;
}

#today-average-value, 
#today-minimum-value,
#today-maximum-value {
  font-weight: 600;
  font-size: 1.1rem;
  text-align: center;
}


#yesterday-container {
  border-top: 1px solid hsla(0, 0%, 100%, 0.4);
  border-right: 1px solid hsla(0, 0%, 100%, 0.4);
  grid-area: yesterday-container;
  padding: 10px;
  display: grid;
  align-content: start;
}

#yesterday-title {
  font-weight: 600;
  justify-self: center;
}

#yesterday-date {
  font-size: 0.8rem;
  justify-self: center;
}

#yesterday-image-container {
  background: radial-gradient(circle, hsl(0, 0%, 100%) 0%, hsl(200, 100%, 90%) 60%);
  display: flex;
  justify-content: center;
  height: 90px;
}

#yesterday-image {
  display: block;
  filter: drop-shadow(1px 1px 4px hsla(0,0%,0%,0.6));
}

#yesterday-average-temperature-key {
  justify-self: center;
  font-size: 0.8rem;
}

#yesterday-average-temperature-value {
  justify-self: center;
  font-weight: 600;
}

#tomorrow-container {
  border-top: 1px solid hsla(0, 0%, 100%, 0.5);
  grid-area: tomorrow-container;
  padding: 10px;
  display: grid;
  align-content: start;
}

#tomorrow-title {
  font-weight: 600;
  justify-self: center;
}

#tomorrow-date {
  font-size: 0.8rem;
  justify-self: center;
}

#tomorrow-image-container {
  height: 90px;
  background: radial-gradient(circle, hsl(0, 0%, 100%) 0%, hsl(200, 100%, 90%) 60%);
  display: flex;
  justify-content: center;
}

#tomorrow-image {
  display: block;
  filter: drop-shadow(1px 1px 4px hsla(0,0%,0%,0.6));
}

#tomorrow-average-temperature-key {
  justify-self: center;
  font-size: 0.8rem;
}

#tomorrow-average-temperature-value {
  justify-self: center;
  font-weight: 600;
}